@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content label {
            display: block;
            padding: 8px;
            cursor: pointer;
        }

            .dropdown-content label:hover {
                background-color: #f1f1f1;
            }

        .dropdown-content input[type="checkbox"] {
            margin-right: 10px;
        }

    .dropdown-btn {
        padding: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>
<partial name="_SearchBar" />
<br />
<div class="dropdown">
    <div class="dropdown-btn">Select Options</div>
    <div class="dropdown-content">
        <label><input type="checkbox" class="form-check-inline" id="Commission" /> Commission</label>
        <label><input type="checkbox" class="form-check-inline" id="TDS" /> TDS</label>
        <label><input type="checkbox" class="form-check-inline" id="VAT" /> VAT</label>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Unpaid Bills
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Unpaid Bills</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Bill No
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody id="Tup-body">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br />

<table class="table" id="payTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Customer Name</th>
            <th>Bill Id</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody id="t-body">

    </tbody>
    
</table>

<button class="btn btn-primary" onclick="printBill()">Print</button>

@section Scripts 
{
    <script src="~/js/Autocomplete.js"></script>
    <script src="~/js/printThis.js"></script>
    <script src="~/js/payment.js?ver=4.9"></script>
    @* use ?version=1.3 to remove cash *@
}