@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Inventory</h5>
             
            </div>
            <div class="modal-body">

                <form id="myForm">
                    <div class="form-group">
                        <label>Product Stock No</label>
                        <input id="Stock_NO" value="0" class="form-control" placeholder="Name" type="number" disabled>
                    </div>

                    <div class="form-group">
                        <label>Serial Number</label>
                        <input id="serial_no"type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Customer</label>
                        <select asp-items="@ViewBag.Customer_id" id="Customer" class="form-select">
                            <option selected disabled value="0">--select Customer--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="isDamaged">
                            Product is Damaged? :
                        </label>
                        <input class="form-check-input ml-3" type="checkbox" name="flexRadioDefault" id="idDamaged">
                    </div>
                    <input id="Dmessage" type="text" hidden />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
           
        </div>
    </div>
</div>


<input hidden id="Value-id" value="@Model" />
<table id="tblData">
    <thead>
        <tr>
            <th>
                Serial No
            </th>
            <th>
                In Stock
            </th>
            <th>
                Product Name
            </th>
            <th>
                Modal
            </th>
            <th>
                Status
            </th>
            <th>
                @* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="bi bi-file-earmark-plus-fill"></i> Add</button> *@
                Options
            </th>
        </tr>
    </thead>
    @* <tbody id="t-body">

    </tbody>*@
</table>

@section Scripts
{
    <script src="~/js/Autocomplete.js"></script>
    <script src="~/js/AddSerial.js"></script>
}